
* {
    box-sizing: border-box;
}

body {
    font-family: $cairo;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $cairo;
}

p, a {
    font-family: $cairo;
}

.modal {
    top: 50% !important;
    transform: scaleX(1) scaleY(1) translateY(-50%) !important;
}

/* Disable zoom in in mobile */
@media (max-width: 767px) {
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    select:focus,
    textarea {
      font-size: 16px !important;
    }
  }
